.box:not(:last-child) {
    margin-bottom: 0.5em;
}

.search-results { margin: 0 0 0 1em !important; }

.center {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.filter {
    font-size: 0.75em;
    display: flex;
    align-items: center;
}
.filter p { margin-right: 0.5em; font-weight: bold; }
.box p { font-size: 0.8em; }
.box .small { font-size: 0.5em; }

.topbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.25em;
    margin-bottom: 0 !important;
}

.class-desc {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 0.8em;
    clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%);
    padding: 1.5em 0;
}
.class-desc.economy { margin: 0 -1em; }
.economyback { background-color: #2e6da4; color: white; }
.firstback { background-color: #277c1f; color: white; }
.economytext { color: #2e6da4; font-size: 1.2em; }
.firsttext { color: #277c1f; font-size: 1.2em; }

.small { font-size: 0.6em; text-align: center; }
.fa-plane { margin-right: 0.5em; }
.fa-arrow-up, .fa-arrow-down { margin-left: 0.5em; }
.fa-clock-o { margin-right: 0.5em; font-size: 0.8em; }
.flight-features { margin-top: 0.5em; }

.showDetails, .hideDetails { cursor: pointer; }

.box-addon {
    width: 55%;
    border-radius: 0 0 0.5em 0.5em;
    margin: -0.5em auto 0.5em 0;
    text-align: center;
    justify-content: center;
}

.shopping-cart {
    background-color: white;
    width: 85%;
    max-height: 450px;
    margin: 1em auto;
    box-shadow: 2px 2px 10px #333;
}

.shopping-cart h1 { text-align: center; font-weight: bold; }